<div class="container">
    <h4>A propos de nous</h4>
    <hr>
    <img src="assets/img/architecture-2083687_1920.jpg" alt="">
    <p>
      Verre-Tech est une entreprise 100 % familiale créée en 1955. Le domaine d’activité de Verre-
       Tech, repose sur la fabrication et la distribution en magasin de produits en verre techniques (protection
       contre les incendies, protection contre les rayons X, protection contre les tirs d’armes à
       feu…) et décoratifs (pare-douche, parois, cloisons, inserts de cheminée...), dont elle est le leader.
     </p>
     <p>
       Le siège social de Verre-Tech se trouve à Besançon et
       possède un effectif de 63 personnes et ainsi que plusieurs entrepôts en territoire Français, Belge,
       Luxembourgeois et Néerlandais (Benelux).
    </p>
   <hr class="petittrait">
   <h6>5 Bonnes raisons de nous choisir :</h6>
   <ul>
      <li>1. Nous sommes une entreprise française leader dans la fabrication de produits verriers</li>
      <li>2. Toujours à disposition une gamme complète de solutions techniques innovantes et esthétiques</li>
      <li>3. Notre équipe est à votre écoute pour vous apporter un conseil objectif et indépendant</li>
      <li>4. Du matériel de production à la pointe de la technologie</li>
      <li>5. Un stock important et varié, et des délais courts toute l’année</li>
    </ul>
 
   <hr class="petittrait">
    <p>
      Pour répondre à vos différents besoins, Verre-Tech conçoit et distribue des vitrages innovants de qualité sur-mesure.
    </p>
    <h6>Nos différents produits :</h6>
    <ul class="product">
      <li>Verres feuilletés décoratifs</li>
      <li>Verres techniques</li>
      <li>Miroiterie traditionnelle</li>
    </ul>
    <hr>
 </div>