<div class="container">
<h1 class="cart-heading">CONFIRMATION</h1>

<div class="row bs-wizard" style="border-bottom:0;">
  <div class="col-xs-3 bs-wizard-step complete">
    <div class="text-center bs-wizard-stepnum">RECAPITULATIF</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
  </div>

  <div class="col-xs-3 bs-wizard-step complete">
    <div class="text-center bs-wizard-stepnum">ADRESSE</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
  </div>

  <div class="col-xs-3 bs-wizard-step complete">
    <div class="text-center bs-wizard-stepnum">FACTURATION</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
  </div>

  <div class="col-xs-3 bs-wizard-step active">
    <div class="text-center bs-wizard-stepnum">CONFIRMATION</div>
    <div class="progress"><div class="progress-bar"></div></div>
    <a href="#" class="bs-wizard-dot"></a>
  </div>
</div>


  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h6 class="my-4">confirmation de la commande</h6>
      <div class="your-facturation">
        <p>Merci MR. LINDER</p>
        <p>
          Nous vous remercions de votre commande. Votre numéro de commande pour
          retirer votre colis est 347982. Un email de confirmation a également
          été envoyé à l'adresse email fournie avec les informations de retrait.
        </p>
      </div>
    </div>
  </div>

  <h6 class="my-4">Résumé de votre commande</h6>
  <div class="your-facturation">
    <div class="your-order-table table-responsive">
      <table>
        <thead>
          <tr>
            <th class="product-name">Produits</th>
            <th class="product-quantity">Quantité</th>
            <th class="product-total">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cart_item">
            <td class="product-name">
              Verre machin 1
            </td>
            <td class="product-quantity">
              1
            </td>
            <td class="product-total">
              165.00€
            </td>
          </tr>
          <tr class="cart_item">
            <td class="product-name">
              Verre machin 2
            </td>
            <td class="product-quantity">
              1
            </td>
            <td class="product-total">
              50.00€
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="cart-subtotal">
            <th>Sous total</th>
            <td>2</td>
            <td>215.00€</td>
          </tr>
          <tr class="order-total">
            <th><span class="amount">Total</span></th>
            <td>
              <strong><span class="amount">2</span></strong>
            </td>
            <td>
              <strong><span class="amount">215.00€</span></strong>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <hr />

  <h6 class="my-4">LES ESSENTIELS BASÉS SUR VOTRE DERNIER ACHAT</h6>

  <div class="row">
    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample68"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Wisteria Ravenclaw</h3>
        <div class="price">15.00 €</div>
      </figcaption>
    </figure>
    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample77"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Ursula Gurnmeister</h3>
        <div class="price">89.00 €</div>
      </figcaption>
    </figure>
    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample71"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Ingredia Nutrisha</h3>
        <div class="price">19.00 €</div>
      </figcaption>
    </figure>

    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample71"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Ingredia Nutrisha</h3>
        <div class="price">19.00 €</div>
      </figcaption>
    </figure>
  </div>
</div>
