
<div class="container">
<h1 class="cart-heading">Facturation</h1>
                        
<div class="row bs-wizard" style="border-bottom:0;">
    
    <div class="col-xs-3 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">RECAPITULATIF</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>

    </div>
    
    <div class="col-xs-3 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">ADRESSE</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      
    </div>
    
    <div class="col-xs-3 bs-wizard-step active">
      <div class="text-center bs-wizard-stepnum">FACTURATION</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      
    </div>
    
    <div class="col-xs-3 bs-wizard-step disabled">
      <div class="text-center bs-wizard-stepnum">CONFIRMATION</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      
    </div>

</div> 

<h6>1. Votre résumé de commande</h6>
  <div class="row">
    
    <div class="col-lg-12 col-md-12">
        <div class="your-facturation">
          <div class="your-order-table table-responsive">
              <table>
                  <thead>
                      <tr>
                          <th class="product-name">Produits</th>
                          <th class="product-quantity">Quantité</th>
                          <th class="product-total">Total</th>
                      </tr>							
                  </thead>
                  <tbody>
                      <tr class="cart_item">
                          <td class="product-name">
                              Verre machin 1 
                          </td>
                          <td class="product-quantity">
                             1
                          </td>
                          <td class="product-total">
                              165.00€
                          </td>
                      </tr>
                      <tr class="cart_item">
                          <td class="product-name">
                              Verre machin 2
                          </td>
                          <td class="product-quantity">
                              1
                          </td>
                          <td class="product-total">
                              50.00€
                          </td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr class="cart-subtotal">
                          <th>Sous total</th>
                          <td>2</td>
                          <td>215.00€</td>
                      </tr>
                      <tr class="order-total">
                          <th><span class="amount">Total</span></th>
                          <td><strong><span class="amount">2</span></strong>
                          <td><strong><span class="amount">215.00€</span></strong>
                          </td>
                      </tr>								
                  </tfoot>
              </table>

          </div>
        </div>
    </div>

  </div>

<h6>2. RECAPITULATIF DE L’ADRESSE FACTURATION</h6>
<div class="row">
    
    <div class="col-lg-12 col-md-12">
        <div class="your-facturation">
          <address>
            Mr Linder Arnaud<br> 
            8 rue des pompiers<br>
            69000 Lyon<br>
            France<br>
          </address>
        </div>
    </div>
</div>

<h6>2. POINT RELAIS</h6>
<div class="row">
    
    <div class="col-lg-12 col-md-12">
      <div class="your-facturation">
        <p>Choix du point relais</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89077.16417711615!2d4.765081195653894!3d45.757934102910916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea516ae88797%3A0x408ab2ae4bb21f0!2sLyon!5e0!3m2!1sfr!2sfr!4v1579776402969!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>

    </div>
</div>

  <div class="cart-total">
    <a routerLink="/confirm-reserv">Validation de la réservation</a>
</div>


</div>