<div class="container">
  <!-- Portfolio Item Heading -->

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-6">
      <img
        class="img-fluid"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample34.jpg"
        alt="750*500"
      />
    </div>

    <div class="col-md-6">
      <h5 class="my-3">Verre feuilleté</h5>
      <p>Max Bill Chronoscope 40mm Stainless Steel and Leather Watch</p>
      <div class="bs-example">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button
                  type="button"
                  class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                >
                  <i class="fa fa-plus"></i> DESCRIPTION
                </button>
              </h2>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Les verres Classica sont des verres feuilletés EVA hydrophobe
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  type="button"
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                >
                  <i class="fa fa-plus"></i> TAILLE & CARACTERISTIQUE
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  Bootstrap is a sleek, intuitive, and powerful front-end
                  framework for faster and easier web development. It is a
                  collection of CSS and HTML conventions.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button
                  type="button"
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                >
                  <i class="fa fa-plus"></i>DETAILS
                </button>
              </h2>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <p>
                  CSS stands for Cascading Style Sheet. CSS allows you to
                  specify various style properties for a given HTML element such
                  as colors, backgrounds, fonts etc.
                </p>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-light panier" routerLink="/panier">
          <i class="fa fa-shopping-bag"></i> Ajouter au panier
        </button>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <hr />
  <h6 class="my-4">VOUS POURREZ AUSSI AIMER</h6>

  <div class="row">
    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample68"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Wisteria Ravenclaw</h3>
        <div class="price">15.00 €</div>
      </figcaption>
    </figure>
    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample77"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Ursula Gurnmeister</h3>
        <div class="price">89.00 €</div>
      </figcaption>
    </figure>
    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample71"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Ingredia Nutrisha</h3>
        <div class="price">19.00 €</div>
      </figcaption>
    </figure>

    <figure class="snip1583 col-md-3 col-sm-6 mb-4">
      <div class="image">
        <img
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample77.jpg"
          alt="sample71"
        />
        <a href="#" class="add-to-cart">Ajouter au panier</a>
      </div>
      <figcaption>
        <h3>Ingredia Nutrisha</h3>
        <div class="price">19.00 €</div>
      </figcaption>
    </figure>
  </div>

  <hr />
  <h6 class="my-4">VU RECEMMENT</h6>

  <div class="row">
    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
          alt="500*300"
        />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
          alt="mm"
        />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
          alt="mm"
        />
      </a>
    </div>

    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
          alt="mm"
        />
      </a>
    </div>
    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
          alt="mm"
        />
      </a>
    </div>
    <div class="col-md-2 col-sm-6 mb-4">
      <a href="#">
        <img
          class="img-fluid"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
          alt="mm"
        />
      </a>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
