h1.cart-heading {
    color: #252525;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}

.table-content table {
    background: #fff none repeat scroll 0 0;
    border-color: #e5e5e5;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0 1px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;
    border: none;
}
.wishlist .table-content table {
    margin: 0 0 0px;
}
.table-content.wish table {
    margin: 0 0 0px;
}
.table-content table th {
    border-top: medium none;
    color: #555;
    font-size: 16px;
    font-weight: normal;
    padding: 15px 10px 12px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.table-content table td {
    border-top: medium none;
    padding: 20px 10px;
    vertical-align: middle;
    font-size: 13px;
}
.table-content table td input {
    background: #e5e5e5 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 10px;
    width: 60px;
}
.table-content table td.product-subtotal {
    color: #555;
    font-size: 15px;
    width: 120px;
}
.table-content table td.product-name a {
    color: #6f6f6f;
    font-size: 15px;
    margin-left: 10px;
}
.table-content table td.product-name {
    width: 270px;
}
.table-content table td.product-thumbnail {
    width: 130px;
}
.table-content table td.product-remove i {
    color: #919191;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.table-content table .product-price .amount {
    color: #555;
    font-size: 15px;
}
.table-content table td.product-remove i:hover {
    color: #333;
}
.table-content table td.product-quantity {
    width: 180px;
}
.table-content table td.product-remove {
    width: 150px;
}
.table-content table td.product-price {
    width: 130px;
}
thead {
    background-color: #f6f6f6;
}
.coupon input {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #333;
    font-size: 13px;
    height: 42px;
    width: 120px;
}
.coupon2 input {
    width: inherit;
}
input.button {
    background-color: #333;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    letter-spacing: 1px;
    line-height: 42px;
    padding: 0 25px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: inherit;
}
input.button:hover {
    background-color: #555;
    color: #fff;
}
.coupon {
    float: left;
}
.coupon2 {
    float: right;
}
.cart-total span {
    float: right;
}
.cart-total > ul {
    border: 1px solid #ddd;
}
.cart-total li {
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
}
.cart-total li:last-child {
    border-bottom: none;
}
.cart-total {
    padding-top: 50px;
}
.cart-total > a {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  padding: 9px 20px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.cart-total > a:hover {
    background-color: #555;
    color: #fff;
    border: 1px solid #555;
}
.cart-total > h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

thead{
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

tr:last-child{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

li {
    list-style: none;
}

.bs-wizard {margin-top: 40px;}
a{
 color:#afafaf!important;   
}
.progress{
    background-color:#cccccc!important;
    
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;;width:25%}
/*.bs-wizard > .bs-wizard-step + .bs-wizard-step {}*/
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; display: block; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: black; border-radius: 50px; position: absolute; top: 6px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 1px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: black;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: white; }

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: white; border-radius: 50px; position: absolute; top: 6px; left: 8px; border: 0.5px solid;} 
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/