<header>
  <div class="recherche">
    <span>{{ title }}</span>
    <a routerLink="/panier"><i class="fa fa-shopping-bag"></i></a>
  </div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/new-product" routerLinkActive="active"
        >NOUVEAUX PRODUITS</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/verre-feuil-deco"
        routerLinkActive="active"
        >VERRES FEUILLETES DECORATIFS</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/verre-techni" routerLinkActive="active"
        >VERRES TECHNIQUES</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/miroit-tradi" routerLinkActive="active"
        >MIROITERIE TRADITIONNELLE</a
      >
    </li>
  </ul>
</header>
<router-outlet></router-outlet>

<!-- Footer -->
<section id="footer">
  <div class="container">
      <h5>Verre Tech</h5>
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
      
        <ul class="list-unstyled quick-links">
          <li><a><i class="fa fa-angle-double-right"></i>Appelez nous</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>03 29 81 31 30</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>Service client</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
  
        <ul class="list-unstyled quick-links">
          <li><a><i class="fa fa-angle-double-right"></i>Conseil</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>Foire aux questions</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>Point relais</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>Echange et relations</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">

        <ul class="list-unstyled quick-links">
          <li><a><i class="fa fa-angle-double-right"></i>A propos de nous</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>Termes & conditions</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>Confidentialité & Cookies</a></li>
          <li><a><i class="fa fa-angle-double-right"></i>Carrières</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- <main class="inline-block-center">
  <div>
    <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
      <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
    </a>
  </div>
  <div>
    <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
      <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
    </a>
  </div>
  <div>
    <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
      <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
    </a>
  </div>
  <div>
    <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
      <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
    </a>
  </div>
</main> -->
