<main class="inline-block-center">
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
  </main>
  <main class="inline-block-center">
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
  </main>
  <main class="inline-block-center">
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
    <div>
      <a target="_blank" href="../assets/img/glass-3447456_1920.jpg">
        <img src="../assets/img/glass-3447456_1920.jpg" alt="Forest" />
      </a>
    </div>
  </main>