<h1 class="cart-heading">Click and Collect</h1>
<div class="container">
  <p class="resume">Le click and collect en trois étapes :</p>

  <div class="row">
    <p class="text">
      Chez Verre-Tech, vous pouvez désormais réaliser votre commande sur
      internet et venir la retirer en magasin sous 1 heures.
    </p>

    <div class="etape col-md-4 offset-md-0 col-sm-8 offset-sm-2">
      <div class="wrapper">
        <span class="badge">1</span>
      </div>
      <p>Découvrez nos produits</p>
      <img src="assets/img/Search_SVG.svg" />
    </div>

    <div class="etape col-md-4 offset-md-0 col-sm-8 offset-sm-2">
      <div class="wrapper">
        <span class="badge">2</span>
      </div>
      <p>Passez commande de vos produits</p>
      <img src="assets/img/Online_shopping_SVG.svg" />
    </div>

    <div class="etape col-md-4 offset-md-0 col-sm-8 offset-sm-2">
      <div class="wrapper">
        <span class="badge">3</span>
      </div>
      <p>Retirez votre commande dans le point relais le plus proche</p>
      <img src="assets/img/collect.svg" />
    </div>
  </div>
</div>
