h1.cart-heading {
    color: #252525;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}

.resume {
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
    margin: 0 0 20px;
    padding-bottom: 10px;
    width: 100%;
}

img{
  width: 180px;

}

.etape{
  padding: 15px;
  text-align: center;
  
  margin-bottom: 35px;

}


.text{
  margin-bottom: 25px;
  padding-right: 15px;
  padding-left: 15px;
}


@media screen and (min-width: 0px) and (max-width:576px){
  .etape {

  }
}


.wrapper {
  margin: auto;
  padding-bottom: 25px;
}

.badge {
    min-width: 16px; 
    padding: 12px 18px; 
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background: #32383c;
    color: #fefefe;
}